body {
  /* background-image: url('https://imgur.com/gngFIQ7.jpeg');  */
  background-image: url('https://imgur.com/gngFIQ7.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

.SongCollectionPage {
  display: grid;
}

.title {
  color: white;
}
