.greenChord {
  color: green;
  font-style: italic;
}

.redChord {
  color: red;
  font-style: italic;
}

.checkBox {
  font-size: 10px;
  justify-content: center;
  display: flex;
}

.label {
  justify-content: center;
}

.list-group {
  margin: 30px;
  opacity: 0.96;
}

.list-group-item-library {
  opacity: 0.96;
}
/* 
.dropdown-and-detail {
  background-color: blue;
} */

.span {
  color: black;
  font-size: 12px;
  font-style: normal;
  justify-content: center;
  align-items: center;
}

#chordTitle {
  font-size: 20px;
  text-decoration: underline;
  padding: 10px;
}

#libraryChordPic {
  opacity: 1;
}

#librarySubmit {
  margin-top: 150px;
}
